@model IEnumerable<DITest.Models.SalesOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaleOrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLineOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLineTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLineOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLineTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { saleOrderId = item.SaleOrderId }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { saleOrderId = item.SaleOrderId })

                <button type="button" class="btn btn-primary" id="btnEdit" data-saleOrderId=@item.SaleOrderId data-toggle="modal" data-target="#dialogEdit">
                    Edit
                </button>

            </td>
        </tr>
    }

</table>


<div class="modal fade" id="dialogEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="editContent">
            <div class="editAddress">
                <!-- partial view content will be inserted here -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/App/SaleOrder/Edit.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
