@model IEnumerable<DITest.Models.SalesOrder>

@{
    ViewBag.Title = "IndexDiv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexDiv</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">@Html.DisplayNameFor(model => model.SaleOrderId)</div>
            <div class="divTableCell">@Html.DisplayNameFor(model => model.FullName)</div>
            <div class="divTableCell">@Html.DisplayNameFor(model => model.AddressLineOne)</div>
            <div class="divTableCell">@Html.DisplayNameFor(model => model.AddressLineTwo)</div>
            <div class="divTableCell">@Html.DisplayNameFor(model => model.FullAddress)</div>
        </div>


        @*@foreach (var item in Model)
                {
                <div class="divTableRow">
                    <div class="divTableCell">@Html.DisplayFor(model => item.SaleOrderId)</div>
                    <div class="divTableCell">@Html.DisplayFor(model => item.FullName)</div>
                    <div class="divTableCell">@Html.DisplayFor(model => item.AddressLineOne)</div>
                    <div class="divTableCell">@Html.DisplayFor(model => item.AddressLineTwo)</div>
                    <div class="divTableCell">@Html.DisplayFor(model => item.FullAddress)</div>
                </div>
            }*@

    </div>
</div>

@*</table>*@
