@model IEnumerable<DITest.Models.SalesOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaleOrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLineOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLineTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaleOrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLineOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLineTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { saleOrderId = item.SaleOrderId  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
